:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --background-color: #f8f9fa;
    --primary-color: #4a90e2;
    --secondary-color: #32a852;
    --accent-color: #f52f57;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: var(--primary-color);
    margin: 20px 0 40px 0;
  }
  
  .todo-app {
    background-color: var(--white);
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 5px solid var(--secondary-color);
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn:hover {
    background-image: linear-gradient(#ffcc4c, #f89808);
  }
  
  .large-btn {
    font-size: 1.2rem;
  }
  
  .close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .close-icon {
    width: 20px;
    height: 20px;
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
  }
  
  .task-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .task-form-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task-form-footer {
    display: flex;
    justify-content: center;
  }
  
  .task-form-label {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #confirm-close-dialog {
    display: none;
  }
  
  .confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .discard-message-text {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #tasks-container {
    height: auto;
    overflow-y: auto;
  }
  
  .task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 576px) {
    .todo-app,
    .task-form {
      width: 100%;
      max-width: 600px;
    }
  
    .task-form-label {
      font-size: 1.3rem;
    }
  
    .form-control {
      padding: 15px;
    }
  }
  
